<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhz.eps.dao.FPInfoDao">
	<select id="showFPInfo" resultMap="nozzle">
		SELECT * FROM nozzle
	</select>
	
	<resultMap type="com.bhz.eps.entity.FPInfo" id="nozzle">
		<id property="nozzleNumber" column="nozzle_number"/>
	</resultMap>
</mapper>