<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhz.eps.dao.ShiftInfoDao">
	<select id="queryShiftInfos" resultMap="shiftInfo">
		SELECT * FROM shift_info
	</select>
	
	<resultMap type="com.bhz.eps.entity.ShiftInfo" id="shiftInfo">
		<id property="shiftId" column="id"/>
		<id property="shiftName" column="name"/>
	</resultMap>
</mapper>